<div class="form-block w-form">
        <h2 class="secondary-heading">{{ texts.-5bd0004f }}</h2>
        <p class="dark-paragraph">{{ texts.1dd1d263 }}</p>
        <form id="email-form" name="email-form" data-name="email" method="get" class="form" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
          <div class="w-layout-grid grid">
            <div><label for="Name-3" class="field-label">{{ texts.24eeab }}</label><input type="text" class="w-input" maxlength="256" name="Name" data-name="Name" placeholder="" id="Name-3" required=""></div>
            <div><label for="Email-address" class="field-label">{{ texts.-2b7010d0 }}</label><input type="email" class="w-input" maxlength="256" name="Email-address" data-name="Email address" placeholder="" id="Email-address" required=""></div>
          </div><label for="Message-3" class="field-label">{{ texts.-63dc6819 }}</label><textarea name="Message" maxlength="5000" id="Message-3" required="" data-name="Message" placeholder="" class="w-input"></textarea><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
        </form>
        <div class="success-message w-form-done">
          <div class="lottie-animation" data-w-id="2c891e17-737d-a597-f8a2-b0b4b209eb9e" data-animation-type="lottie" data-src="/assets/documents/62669-success-lottie-animation.json" data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2" data-duration="0"></div>
          <div>{{ texts.4d8b38d6 }}<br>{{ texts.-254fdc86 }}</div>
        </div>
        <div class="w-form-fail">
          <div>{{ texts.-7c112e99 }}</div>
        </div>
      </div>