<div class="section footer wf-section">
    <div class="container w-container">
      <div class="footer-holder"><img src="{{ images.-2f8bbcaf.url }}" loading="lazy" alt="{{ images.-2f8bbcaf.alt | trim | escape }}" class="image-2" width="163">
        <p class="footer-paragraph">{{ texts.5ccc8eed }}<br>{{ texts.54606121 }}<br>{{ texts.-12d757d3 }}</p>
        <div class="social-wrapper">
          <a href="{{ links.23 }}" class="social-link w-inline-block"><img src="{{ images.2dcab44e.url }}" loading="lazy" alt="{{ images.2dcab44e.alt | trim | escape }}"></a>
          <a href="{{ links.23 }}" class="social-link w-inline-block"><img src="{{ images.-137c0172.url }}" loading="lazy" alt="{{ images.-137c0172.alt | trim | escape }}"></a>
        </div>
      </div>
    </div>
  </div>